In [1]:
#LList of High Shcools

high_schools = ["Hernadez High School", "Figueroa High School", "Wilson High School", 
                "Wright High School"]

for school in high_schools:
    print(school)

Hernadez High School
Figueroa High School
Wilson High School
Wright High School

In [2]:
for High in high_schools:
    print(school)

Wright High School
Wright High School
Wright High School
Wright High School

In [3]:
for High School in high_schools:
    print(High School)

SyntaxError: invalid syntax (<ipython-input-3-7586e7bc55c7>, line 1)

In [4]:
for High in high_schools:
    print(High)

Hernadez High School
Figueroa High School
Wilson High School
Wright High School

In [8]:
# A dictionary of high schools and the type of school.

high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
print(len(high_school_types))

4

In [9]:
print(high_school_types[0])

{'High School': 'Griffin', 'Type': 'District'}

In [16]:
#List of high schools
high_school = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

print(len(high_school))

print(high_school)

#Import Pandas library as a dependency

import pandas as pd

school_series = pd.Series(high_schools)

school_series

15
['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School', 'Wilson High School', 'Cabrera High School', 'Bailey High School', 'Holden High School', 'Pena High School', 'Wright High School', 'Rodriguez High School', 'Johnson High School', 'Ford High School', 'Thomas High School']

0    Hernadez High School
1    Figueroa High School
2      Wilson High School
3      Wright High School
dtype: object

In [14]:
school_series

0    Hernadez High School
1    Figueroa High School
2      Wilson High School
3      Wright High School
dtype: object

In [17]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

school_df = pd.DataFrame(high_school_dicts)

school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter